{% extends "base_generic.html" %}

{% block content %}

<div class="ui main text container centre aligned">
  <form class="ui form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="ui form segment">
      <h2 class="ui header" style="color:#4d4d4d">Login Page</h2>
      <div class="field">
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </div>
      <div class="field">
        <td style="color:#4d4d4d">{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </div>

      <div class="submit button">
        <input type="submit" value="Login" style="height:40px;width:75px;background-color: gainsboro" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      <div class="lost password" style="padding-top: 1em">
        <p><a href="{% url 'password_reset' %}" style="color:cornflowerblue">Lost password?</a></p>
      </div>
    </div>
  </form>

  {% if form.errors %}
    <div class="ui error message">
      <p>Your username and password didn't match. Please try again.</p>
    </div>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <div class="ui error message">
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      </div>
    {% else %}
      <div class="ui error message">
        <p>Please login to see this page.</p>
      </div>
    {% endif %}
  {% endif %}
</div>
{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}
