{% extends "base_generic.html" %}

{% block content %}
  <form class="ui form" action="" method="post" style="padding-top:20px">
    <div class="ui form segment">
      <h2 class="ui header" style="color:#4d4d4d">Password Reset</h2>
      {% csrf_token %}
      {% if form.email.errors %}
        {{ form.email.errors }}
      {% endif %}
      <div class="field">
        <label>Enter New Password:</label>
        <p>{{ form.email }}</p> 
      </div>
      <div class="submit button">
        <input type="submit" class="btn btn-default btn-lg" value="Reset password" style="height:40px;background-color: gainsboro">
      </div>
    </div>
  </form>
{% endblock %}
