<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  {% block title %}
    <title>Flash Mania</title>
  {% endblock %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'flash_card/styles.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/sidebar.js"></script>
  <script type="text/javascript">
    function main() {
    $('.ui.left.sidebar').sidebar({
        dimPage: false,
        transition: 'push',
        exclusive: false,
        closable: false
    });

    $('.ui.left.sidebar')
        .sidebar('attach events', '#hide-sidebar');
    $('.ui.left.sidebar')
        .sidebar('attach events', '#show-sidebar');
    }
    $(document).ready(main);
  </script>
</head>

<body>
  {% block sidebar %}
    <div class="ui left vertical menu overlay sidebar" >
      <div id="hide-sidebar" class="button">
        <image src="https://cdn3.iconfinder.com/data/icons/32-fufficon/32/32x32_fluffy-03-24.png">
      </div>
      <a class="item" style="color:black" href="{% url 'index' %}">Home</a>
      {% if user.is_authenticated %}
        <div class="item">
          <div class="header">User: {{ user.get_username }}</div>
          <div class="menu">
            <a class="item" href="{% url 'profile_page' %}">Profile</a>
            <a class="item" href="{% url 'logout'%}">Logout</a>
          </div>
        </div>
      {% else %}
	      <a class="item" href="{% url 'login'%}">Login</a>
	    {% endif %}
      <div class="item">
        <div class="header">Cards</div>
        <div class="menu">
          <a class="item" href="{% url 'card_list' %}">List Cards</a>
          <a class="item" href="{% url 'card_selection' %}">Filter Cards</a>
        {% if user.is_authenticated %}
          <a class="item" href="{% url 'create_card' %}">Create Card</a>
          <a class="item" href="{% url 'create_category' %}">Create Category</a>
        {% endif %}
        </div>
      </div>
    </div>
  {% endblock %}
  <div class="pusher">
    <div id="show-sidebar" class="button">
      <image src="https://cdn3.iconfinder.com/data/icons/32-fufficon/32/32x32_fluffy-03-24.png">
    </div>
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>
