
{% extends 'base_generic.html' %}

{% block content %}

<div class="ui three column stackable grid">
<div class="two wide column">
</div>
<div class="column">
    <h2>Flash Card Mania</h2>
    <p>Want to learn more about History but struggling to remember the date of important events? Are you learning French but are confusing the word sex with vomit?</p>
    <p>You can solve all these problems with <strong>Flash Cards</strong>!</p>
    <p>Sign up, create and learn those hard to remember facts with our <em>engaging</em> games and scoreboard!</p>
    <p><small>Check out our current selection of <a href="{% url 'card_list' %}">cards</a> and categories.</small></p>
</div>
<div class="ui three column stackable padded middle aligned centered color grid">
      <div class="red column">Law</div>
      <div class="orange column">Physics</div>
      <div class="yellow column">Literature</div>
      <div class="olive column">Philosophy</div>
      <div class="green column">Language</div>
      <div class="teal column">Economics</div>
      <div class="blue column">Biology</div>
      <div class="violet column">Chemistry</div>
      <div class="purple column">History</div>
      <div class="pink column">Statistics</div>
      <div class="brown column">Archaeology</div>
      <div class="grey column">Psychology</div>
      <div class="black column">Flash Cards</div>
    </div>
</div>

{% endblock %}
